.main-content {
    flex: 1;

    overflow-y: auto;
  }

  #details-group {
    padding: 20px;
  }
  .header {
    background-color: #2e2e2e;
    color: white;
    padding: 14px;
    /* margin-bottom: 30px; */
  }

  .container {
    /* max-width: 900px; */
    margin: 0 auto;
  }

  .header {
    background-color: #2e2e2e;
    color: white;
    padding: 14px;
    /* margin-bottom: 30px; */
  }

.metrics-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* width: 90%; */
    max-width: 1200px;
    overflow: auto;
  }
  .metrics-container .card {
    background-color: #1976d2;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-width: 230px;
  }
  .metrics-container .card:nth-child(2) {
    background-color: rgb(21, 177, 125);
  }
  .metrics-container .card:nth-child(3) {
    background-color: rgb(208, 64, 110);
  }
  .metrics-container .card:nth-child(4) {
    background-color: rgb(175, 154, 51);
  }
  /* .metrics-container .card:hover {
    transform: scale(1.05);
  } */
  .metrics-container .card h3 {
    margin: 0;
    font-size: 18px;
    text-align: left;
  }
  .metrics-container .card p {
    margin: 26px 0 8px;
    font-size: 24px;
    font-weight: bold;
  }
  .metrics-container .currency {
    font-size: 18px;
    font-weight: normal;
  }

  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fa;
    display: flex;
  }

  .dashboard {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  header button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
  }

  header button:hover {
    background-color: #08467a;
  }

  header p {
    margin: 0;
  }
  header p:first-child {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .sidebar {
    width: 250px;
    background-color: #2196f3;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    /* justify-content: space-between; */
  }

  /* .sidebar.active {
    transform: translateX(0);
  } */

  .hamburger {
    display: none;
    /* transform: translateX(-100%); */
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    margin-right: 18px;
  }


  .sidebar h2 a {
    font-size: 24px;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
  }

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    margin: 15px 0;
    position: relative;
  }

  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 10px;
    cursor: pointer;
  }

  .nav-link:hover {
    background-color: #34495e;
    border-radius: 5px;
  }
  .logout-btn {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 10px;
    cursor: pointer;
    margin-top: 40px;
  }

  .logout-btn:hover {
    background-color: #d95217;
    border-radius: 5px;
  }

  .dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Hidden by default */
    /* position: absolute; */
    /* left: 20px;
    top: 45px; */
    background-color: #34495e72;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
  }

  .dropdown-item {
    margin: 0;
  }

  .dropdown-item a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px;
  }

  .dropdown-item a:hover {
    background-color: #3d566e;
    border-radius: 5px;
  }

  .main-content {
    flex: 1;

    overflow-y: auto;
  }

  .header {
    background-color: #2e2e2e;
    color: white;
    padding: 14px;
    display: flex;
    align-items: center;
    
    /* margin-bottom: 30px; */
  }

  .container {
    /* max-width: 900px; */
    margin: 0 auto;
  }

  .loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(6px);
  }

  .loader-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 180px;
    text-align: center;
  }

  .loader p {
    font-size: 18px;
    color: #777;
    margin: 0;
  }

  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  .profile-details-card {
    /* background-color: white; */
    padding: 10px 0;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  .profile-details-card button {
    margin-top: 12px;
  }

  .profile-details-card p {
    font-size: 18px;
    margin: 5px 0;
  }

  .profile-details-card p strong {
    font-weight: bold;
  }

  button {
    background-color: #2196f3; /* Blue background */
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  button:hover {
    background-color: #1976d2; /* Darker blue */
  }

  header button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    display: none;
  }

  /* header button:hover {
    background-color: #d32f2f;
  } */

  #user-info {
    font-size: 18px;
    /* color: white; */
  }
  #user-info p:first-child {
    font-size: 28px;
    /* color: white; */
  }
  #user-info p.bal {
    font-size: 26px;
    font-weight: 400;
    color: green;
    /* color: white; */
  }
  #account-info p {
    margin-bottom: 8px;
  }
  #account-info p:nth-child(2) strong {
    color: green;
  }

  .form-container {
    padding: 0 20px;
  }
  .form-container .card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .form-container .card label {
margin-bottom: 6px;
display: inline-block;
  }

  .form-container .card input,
  .form-container .card textarea,
  .form-container .card select {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .wire-transfer-form-container {
   display: flex;
   flex-wrap: wrap;
    gap: 20px;
  }

 .form-container button {
    background-color: #2196f3; /* Blue background */
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }

 .form-container button:hover {
    background-color: #1976d2; /* Darker blue */
  }

  .table-container {
    padding: 0 20px;
    overflow-x: auto;
    width: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  table,
  th,
  td {
    border: 1px solid #ddd;
    white-space: nowrap;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    background-color: #ffffff;
  }

  .no-transaction {
    text-align: center;
    padding: 20px 10px;
    /* display: none; */
  }

  @media (max-width: 1000px) {
    .metrics-container {
        /* grid-template-columns: repeat(2, 1fr); */
        gap: 20px;
        /* width: 90%; */
        max-width: 1200px;
      }
  }
  @media (max-width: 768px) {
    header {
      padding: 10px;
      text-align: center;
      position: relative; 
      z-index: 10011;
    }

    .sidebar {
      width: 170px;
    }

    #user-details {
      padding: 15px;
    }

    button {
      font-size: 14px;
      padding: 8px 12px;
    }

    .container {
      padding: 10px;
    }

    #update-form {
      margin-top: 15px;
    }
    .form-container .card .field {
       width: 100%;
          }
  }

  @media (max-width: 600px) {
    .main-content {
        width: 100%;
    }
.sidebar {
    transform: translateX(-100%);
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 70%;
}


    .hamburger {
        display: inline-block;
        margin-top: 0;
      }

      .sidebar.visible {
        display: flex;
        position: absolute;
        transform: translateX(0);
      }
      header button {
        display: inline-block;
      }
      header h1 {
        font-size: 18px;
      }
    
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 18px;
    }

   form  button {
      width: 100%;
      padding: 12px;
    }

    #user-details p {
      font-size: 14px;
    }

    #update-form input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
  }